* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f55a5a;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.title {
  align-self: center;
  font-size: 1.3rem;
}
